extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let parentid = toShow._id
    - let parent_type = toShow.parent_type
    - let parentage = toShow.age
    - let parentsince = toShow.since
    - let actionid = "/resource/parents/" + parentid 
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='parentAttr mr-3') Parent ID is:
        div #{parentid}
      div.row
        div(class='parentAttr mr-3') Parent Type is:
        div #{parent_type}
      div.row
        div(class='parentAttr mr-3') Parent Size is:
        div #{parentage}
      div.row
        div(class='parentAttr mr-3') Parent Cost is:
        div #{parentsince}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
    // Go back to the home page for the parent collection
      window.location.href='/parents'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
    // delete first
      fetch(actionid, {
        method: 'DELETE' // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/parent'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
